<div class="blank">
</div>
<div id="content" class="site-content">
    <div id="main">
        <header class="page-header">
            <h1 class="cat-title">归档</h1>
            <span class="cat-des">Archives</span>
        </header>
        <div id="main-part">
            <article class="art">
                <div class="art-main">
                    <div class="art-content">
                        <div id="archives">
                            <p style="text-align:right;">
                                [
                                <span id="al_expand_collapse" style="cursor: s-resize;">全部展开/收缩</span>
                                ]
                            </p>
                            <% var lastYear; var lastMonth; %>
                            <% site.posts.sort('date', theme.homePageSortType).each(function(post, i){ %>

                                <% var currentYear = parseInt(date(post.date, 'YYYY')); %>
                                <% var currentMonth = parseInt(date(post.date, 'YYYYMM')); %>
                                <% if (lastYear !== currentYear){ %>
                                    <% lastYear = currentYear; %>
                                    <h3 class="al_year"><%= date(post.date, 'YYYY') %>年</h3>
                                <% } %>
                                <% if (lastMonth !== currentMonth){ %>
                                    <% lastMonth = currentMonth; %>
                                <ul class="al_mon_list">
                                    <li class="al_li">
                                        <div class="al_mon_card">
                                            <span class="al_mon"><%= date(post.date, 'MM') %>月(<span
                                                        id="post-num">3</span>篇文章)</span>
                                        </div>

                                        <ul class="al_post_list">
                                            <% } %>
                                            <li>
                                                <a href="<%- url_for(post.path) %>">
                                                        <span style="color:orange;">
                                                            <%= date(post.date, 'DD') %>日<%= time(post.date) %>
                                                        </span>
                                                    <%= post.title %>
                                                </a>
                                            </li>
                                            <% if (!site.posts.sort('date', theme.homePageSortType).eq(i + 1) || currentMonth !== parseInt(date(site.posts.sort('date', theme.homePageSortType).eq(i + 1).date, 'YYYYMM'))){ %>
                                        </ul>
                                    </li>
                                </ul>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<style>
    div.blank {
        padding-top: 75px;
    }

    div.al_mon_card {
        display: inline-block;
        background-color: orange;
        border-radius: 8px;
        padding: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

</style>
